*.pdf
*.pyc
*.onnx
*.jpg
*.png
*.jpeg
*.txt
*.tar.gz
*.idea
*.vscode
build*
onnx/*
dataset/*
!dataset/coco_dataset.py
!dataset/coco_subset.py
!dataset/coco_subset.py
!dataset/bbox_utils.py
!dataset/*.py
ref/*
__pycache__
*.pyc
*.pth
test
bbox_test
test_*
transformer/data
